@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.container-vale-presentes{
    display: grid;
    height: 80vh;
    grid-template-columns: 10% 21.5% 7.75% 21.5% 7.75% 21.5% 10%;
    grid-template-rows: 2.5% 95% 2.5%;
}

.vale-presente-1{
    grid-column: 2;
    grid-row: 2;
    background-image: url('../IMG/vale1.webp');
    background-size: cover;
    display: grid;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
}

.titulo-vale-1{
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
}

.vale-presente-1 a{
    text-decoration: none;
    color: white;
    font-family: 'Julius Sans One';
    font-size: 115%;
}

.vale-presente-2{
    grid-column: 4;
    grid-row: 2;
    background-image: url('../IMG/vale2.jpg');
    background-size: cover;
    display: grid;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
}

.titulo-vale-2{
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
}

.vale-presente-2 a{
    text-decoration: none;
    color: white;
    font-family: 'Julius Sans One';
    font-size: 115%;
}

.vale-presente-3{
    grid-column: 6;
    grid-row: 2;
    background-image: url('../IMG/vale3.webp');
    background-size: cover;
    background-position: center;
    display: grid;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
}

.titulo-vale-3{
        background-color: rgb(0, 0, 0);
        padding: 5px 10px;
}

.vale-presente-3 a{
    text-decoration: none;
    color: white;
    font-family: 'Julius Sans One';
    font-size: 115%;
}


